$color-primary: #ff6060;
$color-tertiary: white;


.Ap-deroulante
{overflow: hidden;}

.equipement
{   display: flex;
    justify-content: space-between;

    align-items: center;
    padding:10px;
    background-color:$color-primary;
    color:$color-tertiary;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 18px;
    overflow: hidden;

    &-content
{   padding: 10px;
    align-items: center;
    background-color:#F6F6F6;
    color:$color-primary;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    z-index: -1;
    animation: slide-in 0.5s ease-in-out;
    overflow: hidden;
}
}

@keyframes slide-in {
    0% {
     transform: translateY(-100%);
    }
   100% {
    transform: translateX(0%);
    }
  }

  .fa-chevron-down
{   font-size: 35px;
    color:$color-tertiary;
    cursor: pointer;
}

.fa-chevron-up
{   font-size: 35px;
    color:$color-tertiary;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .equipement-content {
        padding: 10px;
        margin-top: -40px; 
    }

    .equipement {
        height: 20px;
        margin: 0px;
        font-size: 13px;
    }
}


@media screen  and (max-width:768px) {

    .equipement-content
    {padding: 10px;
    width: 390px;
    margin-top: -40px;
   }

    .equipement
    {height: 20px;
    font-size: 13px;}


    .fa-chevron-down
    {margin-top: 60px;
    font-size: 30px;
    position: relative;
    bottom: 30px;}



}

@media screen and (min-width: 767px) and (max-width:1024px)
{
    .equipement
    { height: 20px;
    font-size: 13px;
    margin: 0px;}

    .equipement-content
    {
    width: 710px;
    padding: 10px;
    }
}
