$banner-height: 300px;
$banner-border-radius: 20px;
$chevron-top: 27%;
$color-tertiary: white;

.bannerAppartement {
  bottom: 70px;
  height:$banner-height;

.bannercontainer{
  position: relative;

img{
width: 100%; 
height:$banner-height; 
position: absolute;
inset: 0;
border-radius: $banner-border-radius;
padding: 0px;
object-fit:cover;
filter: brightness(80%);
opacity: 0;
transition: opacity 0.5s ease-in-out;
&.show { opacity: 1;}
  }
}
}

.chevron {
  position: relative;
  top: $chevron-top;
  display: flex;
  gap: 92%;
  }

.currentSlide
{position: relative;
color: $color-tertiary;
font-size: 18px;
margin-top:8%;
text-align: center;
font-weight: bold;}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 70px;
  color:$color-tertiary;
  margin-top: 40px;
}

.fa-chevron-right {
  margin-right:90px;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}


@media screen  and (width <= 768px) {
  .bannerAppartement  {
  height: 300px;
  width: 350px;
  margin-left: 20px;
  margin-top: -20px;
  margin-right: 20PX;
}

.chevron
{
gap:265px;}

.fa-chevron-left, .fa-chevron-right
{font-size: 35px;}

.fa-chevron-left
{margin-right: 15px;
margin-top: 50px;}

.fa-chevron-right
{margin-top: 50px;}

.currentSlide
{margin-top: 50%;}
}

