.ap-container
{display: flex;
justify-content: space-between;}

.ap-tag span
{
    background-color: #FF6060;
    color: white;
    padding: 5px 30px;
    border-radius: 30px;
    margin-right: 20px;
}

.ap-tag
{ margin-bottom: 30px;}

.host
{display: flex;}


.logo-host
{background-color: #C4C4C4;
border-radius:50px;
width: 64px;
height: 64px;
}

.rate 
{margin-top: 10px;}


.Ap-deroulante
{display: flex;
margin-bottom: 30px;}

.description
{
    padding: 15px;
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.description-content
{   padding: 10px 20px 10px 10px;
    align-items: center;
    background-color:#E3E3E3;
    color:#FF6060;
    border-radius: 10px;
    margin-right: 20px;
}

.fa-chevron-down
{font-size: 35px;
color:white;
margin-left: 85%;}

.equipement
{
    padding: 15px;
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.equipement-content
{   padding: 10px 20px 10px 10px;
    align-items: center;
    background-color:#E3E3E3;
    color:#FF6060;
    border-radius: 10px;
    margin-right: 20px;
}

.fa-chevron-down
{font-size: 35px;
color:white;
margin-left: 85%;}