$color-primary: #ff6060;
$color-secondery:#863535;

.appartement {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to top,$color-secondery,$color-primary);
  border-radius: 20px;
  width: 340px;
  height: 340px;
  margin: 20px;
  padding: 30px;

  &-title {
    position: relative;
    top: 95%;
    color: white;
    width: 20%;
    font-size: 15px;
    margin-left: 0px;
    white-space: nowrap;
  }
}
  
@media screen  and (width <= 768px) 
{
    .appartement{flex-basis: 100%;
      width:235px;
      height:215px;

      &-title{ 
        
          position: relative;
          margin-left: -10px;
          top: 210px;
              }

                  }
  }
  