$color-primary: #ff6060;
$color-tertiary: white;
$color-backgroundDark:#E3E3E3;

.ap-container
{   display: flex;
    justify-content: space-between;
}

.ap-tag span
{   background-color:$color-tertiary;
    color: $color-tertiary;
    padding: 5px 30px;
    border-radius: 30px;
    margin-right: 20px;
}

.on
{color:$color-primary;}

.rate
{   color:$color-backgroundDark;
    font-size: 24px;
}

.ap-tag
{ margin-bottom: 30px;}

.ap-tag span
{   background-color:$color-primary;
    color:$color-tertiary;
    padding: 5px 30px;
    border-radius: 30px;
    margin-right: 20px;
}

.logo-host img
{   padding: 0px;
    border-radius:50px;
    width: 64px;
    height: 64px;
}


@media screen  and (width <= 768px) {

    
        body {
          display: flex;
          align-items: center;
        }
    
    .Ap-titre h1
    {font-size: 18px;
    margin-top: 15px;}
 
    .ap-container
    {display: flex;
     flex-wrap: wrap;}
 
     .Ap-host
     { display: flex;
     flex-direction: row-reverse;
     justify-content: center;}
 
     .rate
     {
     margin-right: 160px;
     font-size: 20px;}
 
     .ap-tag 
     { display: flex;
     justify-content: center;}
     
 
     .ap-tag span
     { text-align: center;
     font-size: 10px;
     padding-left: 25px;
     padding-right: 25px;}
 
     .host h3
     {font-size: 12px;}
 
     .logo-host img
     {width: 42px;
     height: 42px;
    margin-left: 10px;}
    
     } 