$color-primary: #ff6060;
$color-tertiary: white;
$color-backgroundDark:#E3E3E3;

.host
{display: flex;}



.description
{   position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color:$color-primary;
    color:$color-tertiary;
    border-radius: 10px;
    margin-right: 20px;

    &-content
{   position: relative;
    padding: 10px;
    align-items: center;
    background-color:$color-backgroundDark;
    color:$color-primary;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    z-index: -1;
    overflow: hidden;
    animation: slide-in 0.5s ease-in-out;
    
   
}
}


@keyframes slide-in {
    0% {
     transform: translateY(-100%);
    }
   100% {
    transform: translateX(0%);
    }
  }

.fa-chevron-down
{   font-size: 35px;
    color:$color-tertiary;
    cursor: pointer;
}

.fa-chevron-up
{   font-size: 35px;
    color:$color-tertiary;
    margin-top: 10px;
    cursor: pointer;
}



@media screen  and (width <= 768px) {

    .Ap-deroulante
    {display: flex;
    flex-direction: column;
    margin: 10px;
    gap:40px;
    justify-content: center;}

    .description-content
    {
        padding: 10px;
        margin-right: -10px;
    }

    .Ap-collapse
    {display: flex;
    flex-direction: column;}

    .description 
    { height: 30px;
    width:100%;
    padding-top:10px;}

    .fa-chevron-down
    {margin-top: 0px;
    font-size: 20px;
    position: relative;
    bottom: 30px;}



}