$color-primary: #ff6060;
$color-tertiary: white;


.Ap-deroulante
{overflow: hidden;}

.equipement
{   display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color:$color-primary;
    color:$color-tertiary;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;

    &-content
{   padding: 10px;
    align-items: center;
    background-color:#F6F6F6;
    color:$color-primary;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    z-index: -1;
    animation: slide-in 0.5s ease-in-out;
    overflow: hidden;
}
}

@keyframes slide-in {
    0% {
     transform: translateY(-100%);
    }
   100% {
    transform: translateX(0%);
    }
  }

  .fa-chevron-down
{   font-size: 35px;
    color:$color-tertiary;
    cursor: pointer;
}

.fa-chevron-up
{   font-size: 35px;
    color:$color-tertiary;
    margin-top: 10px;
    cursor: pointer;
}


@media screen  and (width <= 768px) {

    .equipement
    { height: 30px;
    width: 320px;
    padding-top:10px;
    margin-right: 0px;}

    .equipement-content
    {
        padding: 10px;
        margin-right: -10px;
        width: 320px;
    }
}