$color-primary: #ff6060;

.Ap-titre h1, h2, h3
{color:$color-primary}

h2
{
font-size: 18px;
font-weight: 500;
margin-top: 5px;
}

h3{
margin-right: 10px;
margin-top: 20px;
font-size: 18px;
font-weight: 500;
display: grid;
place-items: center;
}

.Ap-collapse
{display: flex;
margin-bottom: 40px;}

.Ap-collapse > * {
    flex-basis: 50%;
  }

 