$color-tertiary: white;
$color-footer: black;

.footer
{   background-color:$color-footer;
    padding: 20px;
    text-align: center;
    color: $color-tertiary;
    min-height: 200px;
}

img
{padding-top: 30px;}

@media screen  and (width <= 768px) {

   
    
    .footer
    {margin-top:-10px;
    width: 100%;
margin-left: -20px;}
}
