$color-primary: #ff6060;

.navbar 
{ display: flex;
align-items: center;
margin-right: 10px;
gap:30px;
color:$color-primary;
font-size: 24px;
& a{
    text-decoration: none;
    color:$color-primary;
&:hover
{text-decoration: underline;}
}

}

.logo-navbar
{margin-right: auto;
margin-bottom: 30px;}

@media screen  and (width <= 768px) {
   
    
    .navbar{
        display: flex;
        width: 335px;
        margin-bottom: 20px;
        font-size: 15px;}

        .logo-navbar img
        {width: 100px;
        margin-left: 20px;
        margin-right: 0px;
    }
     
    }

    @media screen and (min-width: 768px) and (max-width:1024px)
{
    .navbar{
        margin-right: 50px;}
}