$color-primary: #ff6060;

.navbar 
{ display: flex;
align-items: center;
gap:30px;
color:$color-primary;
font-weight: 700;
& a{
    text-decoration: none;
    color:$color-primary;
&:hover
{text-decoration: underline;}
}

}

.logo-navbar
{margin-right: auto;}

@media screen  and (width <= 768px) {
    .navbar{
        display: flex;
        width: 335px;
        align-items: center;
        margin-bottom: 20px;}

        .logo-navbar img
        {width: 100px;
        padding-top: 0px;}

}