$color-primary: #ff6060;
$color-tertiary: white;
$color-backgroundDark:#E3E3E3;

.banner-apropos
{margin-left: 10px;
margin-right: 10px;}

.container-apropos
{ display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 0;
}

.fiabilite, .respect, .service, .securite
{ display:flex ;
  justify-content: space-between;
  background-color:$color-primary;
  color:$color-tertiary;
  width: 1023px;
  padding: 10px 20px 10px 15px;
  align-items: center;
  border-radius: 10px;
}

.content
  {padding: 10px;
  width: 1030px;
  align-items: center;
  background-color:#F6F6F6;
  color:$color-primary;
  border-radius: 10px;
  margin-top: -30px;
  position: relative;
  z-index: -1;
  animation: slide-in 0.5s ease-in-out
}

.fa-chevron-down
{   font-size: 35px;
    color:$color-tertiary;
    cursor: pointer;
}

.fa-chevron-up
{   font-size: 35px;
    color:$color-tertiary;
    margin-top: 10px;
    cursor: pointer;
}


@keyframes slide-in {
  0% {
   transform: translateY(-100%);
  }
 100% {
  transform: translateX(0%);
  }
}


@media screen  and (width <= 768px) {

 
  .container-apropos
  {overflow: hidden;}


.fiabilite, .respect, .securite, .service {
  width:300px;
  height: 20px;}

.content
{width:315px;
padding-top: 20px;
margin-top: -45px;}

.fa-chevron-down
{   font-size: 20px;
    color:$color-tertiary;
    margin-top: 60px;
}

.fa-chevron-up
{   font-size: 20px;
    color:$color-tertiary;
}

}

@media screen and (min-width: 768px) and (max-width:1024px)
{
  .fiabilite, .respect, .securite, .service {
    width:600px;
    height: 20px;}

.content
{width:610px;}

.container-apropos
{overflow: hidden;}

}