$container-background:#F6F6F6;
$color-tertiary: white;
$color-primary: #ff6060;
$color-secondery:#863535;

.appartement {
  position: relative;
  margin-right: 61px;
  margin-bottom: 20px;
  border-radius: 10px;
  
}
  
.appartement img {
  position: relative;
  width: 380px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px;
  padding: 0px;
  margin-top: 20px;
  filter: brightness(80%);
}

 .appartement-title 
 {
  position: absolute;
    margin-left: 50px;
    margin-top: -45px;
    color:white;
    font-weight: bold;
    width: 20%;
    font-size: 15px;
   text-decoration: none;
    white-space: nowrap;
  }
 
  .cardlogement {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 40px 40px 40px 40px;
    background-color:$container-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
  }

@media screen and (max-width: 768px) {
  .cardlogement {
      justify-content: center;
      background-color: $color-tertiary;
      margin-right: 25px;
      margin-bottom: 20px;
      padding: 0;
  }

  .appartement img {
      margin-left: 10px;
      width: 100%; 
      margin-bottom:10px;
  }

  .appartement-title {
      margin-left: 45px;
      margin-top: -50px;
  }
}


@media screen and (min-width: 769px) and (max-width: 929px) {
  .appartement img {
      width: 100%;
  }

  .appartement-title {
      font-size: 20px;
  }
}
